<!DOCTYPE html>
<html>
<head>
    <title>Последние новости</title>
</head>
<body>
    <h1>Последние новости</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h3>{{ article.title }}</h3>
                <p>{{ article.description }}</p>
                 <p><b>{{ article.publishedAt }}</b></p>
                <p>Источник: <a href={{ article.url }}>{{ article.source.name }}</a></p>
            </li>
        {% endfor %}
    </ul>
    {% for i in res %}
    	<h1>{{ i }}</h1>
    {% endfor %}
</body>
</html>
